# **Instructor : Dr. Kota Moses**

# **Agenda** :

1. Decision making process in python programming : conditional statements
2. if, else structure : explanation and use cases
4. Lists, Tuples, Dictionaries and sets : characteristics, creating, access(indexing), slicing, in built methods

In [ ]:
#       if condition:
#           statement
#       elif other_condition:
#           statement
#       else:
#           statement

**Conditional statements**

1. Key for decision making
2. Selected execution of the code : only when a particular condition is satisfied.
3. Controls the flow of a program : different scenario different outcomes

In [8]:
# usually any code will be executed line-by-line until it reaches as condition

number = int(input('Enter a number :'))

if number > 0:
  print('it is a positive number')

Enter a number :-1

In [11]:
number = int(input('Enter a number :'))

# conditions here are boolean and will be boolean most of the time

if number > 0:                  # if this is true
  print('positive number')      # execute this statement

elif number == 0:               # else come here and check
  print('zero')

else:                           # if none of the above conditions are satisfied
  print('negative number')      # execute this

Enter a number :-11
negative number

In [12]:
mark = int(input('Enter a number :'))
result = "Pass" if mark >= 35 else "Fail"
print(result)

Enter a number :40
Pass

**Nested if-else conditions**

In [22]:
marks = int(input('Enter the marks: '))
if marks == 35:
    print("you just passed")
elif marks <= 100 and marks >= 50:

    print("you have done a good work ")
    if marks > 35 and marks <  50:
      print ('You are average')
else:
  print('You have failed')

Enter the marks: 50
you have done a good work

In [ ]:
if marks > 35 and marks < 60
    print("Good work")

**Conditions other than explicitly boolean**

In [ ]:
data = []
if data:
    print("Data available")
else:
    print("No data found")

No data found

In [ ]:
name = input("Enter name: ")
if name:
    print("Hello", name)
else:
    print("No name entered")

Enter name: Name
Hello Name

In [ ]:
score = 0
if score:
    print(f"Scored {score}")
else:
    print("Zero score")

Zero score

In [24]:
data = 1
if data is not None:
    print("Data can be  loaded")

Data can be  loaded

# **Lists**


Lists are one of the one of Python's most versatile and commonly used data structures.

Lists allow you to store and organize multiple items in a single container, making them essential for managing collections of data.

Lists are the foundation for data manipulation in Python and are crucial for everything from basic programming to advanced data analysis.



  1.   A list in Python is an ordered, mutable collection of items. Lists can contain elements of different data types, including numbers, strings, booleans, and even other lists.
  2.   They are defined using square brackets **[]** with elements separated by commas.

In [28]:
a = [10,20,30]
a

[10, 20, 30]

In [29]:
a = [10,20,40,30]
a  # mutable in nature ; can be changed

[10, 20, 40, 30]

In [27]:
# length of a list
len(a)

4

In [137]:
a = [10,20]
b = [10,40]
a < b

True

In [35]:
d = [1,2,1,2,1.2,"string"]
d

[1, 2, 1, 2, 1.2, 'string']

**Indexing**

In [38]:
fruits = ["apple", "banana", "cherry", "orange", 'kiwi']

           #0        #1        #2         #3       #4

len(fruits) # len - 1 will be the last index , this is important especially when you are looping through a given list

5

In [37]:
# Accessing elements in List
# Python uses zero-based indexing, so the first element is at position 0!
fruits[0]

'apple'

In [39]:
print(fruits[-1]) # negative indexing , usually last index - len(list)

kiwi

In [40]:
print(fruits[-2])

orange

In [41]:
print(fruits[-4])

banana

In [ ]:
marks_obtained = [92, 88, 95, 78, 84]

# Finding useful information
total = sum(marks_obtained)       # 437 (adds all elements)
average = total / len(marks_obtained)  # 87.4 (calculates the mean)
highest = max(marks_obtained)     # 95 (finds the maximum value)
lowest = min(marks_obtained)      # 78 (finds the minimum value)

In [46]:
fruits = ["apple", "banana", "zerry", "orange", 'kiwi']


min(fruits)

'apple'

**Slicing**

1. The start index is inclusive.
2. The end index is exclusive.

In [ ]:
numbers = [10, 20, 30, 40, 50, 60]

print(numbers[1:4])   # [20, 30, 40]
print(numbers[:3])    # [10, 20, 30]
print(numbers[3:])    # [40, 50, 60]

[20, 30, 40]
[10, 20, 30]
[40, 50, 60]

In [ ]:
# Step Indexing
# a step value using list[start:end:step]

numbers = [10, 20, 30, 40, 50, 60]

print(numbers[::2])   # [10, 30, 50]

In [49]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
len(numbers)
print(numbers[::2])     # [0, 2, 4, 6, 8]   (every 2nd element)
print(numbers[1:8:3])   # [1, 4, 7]

10

In [ ]:
# Reversing a list using negative index
numbers = [10, 20, 30, 40, 50]

print(numbers[::-1])

[50, 40, 30, 20, 10]

**Adding removing and changing elements**

In [55]:
fruits = ["apple", "banana", "cherry"]

fruits.append('orange')

In [51]:
fruits

['apple', 'banana', 'cherry', 'orange']

In [63]:
fruits.insert(1, "blueberry")
fruits

['apple', 'blueberry', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [160]:
fruits

['apple', 'strawberry', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [165]:
fruits[:4]

['apple', 'strawberry', 'banana', 'cherry']

In [61]:
fruits.remove('blueberry')
fruits

['apple', 'banana', 'cherry', 'orange']

In [62]:
fruits.extend(['kiwi', 'mango'])
fruits

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [64]:
fruits[1] = 'strawberry'
fruits

['apple', 'strawberry', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [ ]:
# Adding elements
fruits.append("orange")
fruits.insert(1, "blueberry")
fruits.extend(["kiwi", "mango"])

# Removing elements
fruits.remove("banana")  # Removes the first occurrence of "banana"
popped = fruits.pop(1)   # Removes and returns the element at index 1
del fruits[0]            # Removes the element at index 0

# Changing elements
fruits[1] = "strawberry" # Replace element at index 1 with "strawberry"

**Membership conditions**

In [ ]:
fruits = ['apple', 'banana', 'kiwi']
if 'apple' in fruits:
    print("Apple is in the list")
else:
    print("Apple is not in the list")

Apple is in the list

In [65]:
fruits

['apple', 'strawberry', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [66]:
'guava' in fruits

False

In [ ]:
'kiwi' in fruits

True

In [69]:
'mango' in fruits

True

In [142]:
lst_01 = ['maruti','hyundai', 'toyota']
lst_02 = ['BMW','Mercedes', 'Volkswagen']
lst_01.insert(1, lst_02)
lst_01

['maruti', ['BMW', 'Mercedes', 'Volkswagen'], 'hyundai', 'toyota']

In [145]:
len(lst_01)

4

In [146]:
lst_01[1:3]

[['BMW', 'Mercedes', 'Volkswagen'], 'hyundai']

In [ ]:
if all([x > 0, y > 0, z > 0]):
    print("All positive")

NameError: name 'y' is not defined

In [ ]:
if any([x < 0, y < 0, z < 0]):
    print("At least one negative")

**Nested (2D) List**

In [70]:
numbers = [1,2,3] # 1D

In [77]:
numbers[2]

3

In [81]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix[0][0]) # first index for the row and the next index is for the column
print(matrix[1][2])
print(matrix[2][1])

1
6
8

In [80]:
print(matrix[0][0][0])

[1, 2, 3]

In [76]:
matrix[1][1]

5

In [78]:
matrix[2][2]

9

# **Tuples**



*  A tuple is a collection of Python objects separated by commas and enclosed within round brackets ().

*   It's very similar to a list, but there’s one big difference: Tuples are immutable — once created, you cannot change their contents.

*   Faster than lists (since they don’t change).
*   Safer — no one can accidentally modify your data.
*   Can be used as keys in dictionaries (because they are immutable).
*   Useful for fixed collections (like coordinates (x, y)).

In [83]:
my_tuple = (1, 2, 3) # tuples are immutable , which means they cannot be changed
print(my_tuple)

(1, 2, 3)

In [85]:
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

In [90]:
my_tuple = 1, 2, 3
print(my_tuple)

type(my_tuple)

(1, 2, 3)

tuple

In [89]:
numbers = [1,2,3]
type(numbers)

list

In [87]:
a,b,c  = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [93]:
# Correct single element tuple
single_element_tuple = (5,)
print(type(single_element_tuple))
print(single_element_tuple)

<class 'tuple'>
(5,)

In [94]:
# Without comma it's just an integer
not_a_tuple = (5)
print(type(not_a_tuple))   # <class 'int'>
print(not_a_tuple)

<class 'int'>
5

In [95]:
my_tuple = (10, 20, 30, 40)

print(my_tuple[0])    # 10
print(my_tuple[2])    # 30

10
30

In [96]:
print(my_tuple[1:3])  # (20, 30)

(20, 30)

In [97]:
my_tuple.index(20)

1

**Tuple is Immutable**

* Cannot change a value
* Cannot Add new items
* Cannot remove items

In [155]:
my_tuple = (1, 2, 3)

my_tuple[2] = 10

TypeError: 'tuple' object does not support item assignment

In [156]:
# Tuple Repetition
my_tuple * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [157]:
my_tuple

(1, 2, 3)

In [101]:
# membership test
my_tuple = (10, 20, 30, 40)
50 in my_tuple

False

In [102]:
# length of a tuple
len(my_tuple)

4

In [103]:
# comparison of tuples
print((1, 2, 3) == (1, 2, 3))   # True
print((1, 2, 3) < (1, 2, 4))    # True
print((1, 2, 5) > (1, 2, 4))    # True

True
True
True

In [ ]:
t = (1, [2, 3], 4) # if there are any mutable data structures inside the type , those data structures can be changed
print(t)
# (1, [2, 3], 4)
# The Tuple Can’t Change, But the List Inside It Can

(1, [2, 3], 4)

In [ ]:
t[1][0] = 99
print(t)
# (1, [99, 3], 4)

(1, [99, 3], 4)

In [107]:
tuple_new = (1,2,[3,5,6], 4)

In [105]:
tuple_new[0] = 4

TypeError: 'tuple' object does not support item assignment

In [108]:
tuple_new[2][0] = 4
tuple_new

(1, 2, [4, 5, 6], 4)

In [109]:
tuple_new[2][0]

4

In [ ]:
# Tuple object (t)


# +-------------------------+
# | Index | Points to       |
# +--------+----------------+
# |   0    | 1 (int)        |
# |   1    | ---> [2, 3]    |  ← mutable list
# |   2    | 4 (int)        |
# +--------+----------------+


# Even though tuples are immutable, they can hold references to mutable objects whose internal state can change.

In [ ]:
t[1][0] = 99

## **Dictionaries**



*   A dictionary in Python is an unordered collection of key-value pairs.
*   Each key is connected to a value, forming a key-value pair.
*   Dictionaries are optimized for retrieving values when the key is known.

*   **Key-Value Pairs**: Each item in a dictionary has a key and a value. The key serves as an identifier to access the corresponding value.


*   **Unordered**: Dictionaries traditionally don't maintain a specific order (prior to Python 3.7). Since Python 3.7, dictionaries do preserve insertion order, but you should never rely on order when using dictionaries for compatibility reasons.


*  **Mutable**: You can change, add, and remove items after a dictionary is created. This flexibility makes dictionaries excellent for dynamic data.


*  **Dynamic**: Dictionaries can grow and shrink as needed. There's no need to pre-define a size like with arrays in some other languages.

*  **Keys Must Be Unique**: No duplicate keys are allowed. If you try to add a key that already exists, the new value will replace the old one.


*   **Keys Must Be Immutable**: Only immutable data types like numbers, strings, and tuples (if they contain immutable elements) can be keys. Lists, dictionaries, and sets cannot be keys because they are mutable.

In [111]:
# Creating a simple dictionary
student = {"name": "Emma", "age": 15, "grade": 10}

# Dictionaries use curly braces {} with key-value pairs separated by colons : and the pairs separated by commas.
student

{'name': 'Emma', 'age': 15, 'grade': 10}

In [ ]:
# A dictionary with mixed data types
mixed_dict = {1: "one", "two": 2, (3, 4): "tuple_key"}

In [112]:
mixed_dict = {1: "one", "two": 2, [3, 4]: "tuple_key"}

TypeError: unhashable type: 'list'

In [115]:
# An empty dictionary
empty_dict = {}
# Or
empty_dict = dict()

random_dict = dict({
                  'course': 'MLDL07',
                  'strength': 180
})
random_dict

{'course': 'MLDL07', 'strength': 180}

In [ ]:
# Creating a dictionary using the dict() constructor
contact = dict(name="John", phone="555-1234", email="john@example.com")

**Accessing dictionary values**

In [116]:
# dictionary with a string keys
user = {"name": "Alice", "age": 25, "city": "New York"}

In [ ]:
# dictionary[key] = value

In [118]:
user['age']  # retrieval by using the immutable key

25

In [121]:
# Creating a dictionary with mixed key types
mixed_dict = {1: "one", "two": 2, (3, 4): "tuple key"}

In [119]:
# Using the get() Method

age = user.get('age') # dict.get(key)
age

25

In [122]:
key = mixed_dict.get((3,4))
key

'tuple key'

In [138]:
#duplicate key
car_brand = {'brand':'ford','brand':'ford','mode':'Mustang','year':1964}
len(car_brand)

3

In [124]:
#duplicate key
car_brand = {'brand':'ford','brand':'ford1','mode':'Mustang','year':1964}
car_brand

# Python processes the key–value pairs from left to right, and if the same key appears again, the last occurrence overwrites the earlier one.

# |---------------------------
# | Step 1: 'brand' = 'ford'
# | Step 2: 'brand' = 'ford1'   ← overwrites previous value
# | Step 3: 'mode'  = 'Mustang'
# | Step 4: 'year'  = 1964
# |----------------------------

{'brand': 'ford1', 'mode': 'Mustang', 'year': 1964}

**Accessing nested dictionary values**

In [126]:
# Creating a nested dictionary

nested_dict = {
    "person": {
        "name": "Bob",
        "contact": {
            "email": "bob@example.com",
            "phone": "555-1234"
        }
    }
}

In [127]:
email = nested_dict["person"]["contact"]["email"]  # Returns "bob@example.com"
email

'bob@example.com'

In [128]:
nested_dict = {
    "person": {
        "name": "Bob",
        "contact": {
            #"email": "bob@example.com",
            "phone": "555-1234"
        }
    }
}

In [129]:
nested_dict

{'person': {'name': 'Bob', 'contact': {'phone': '555-1234'}}}

In [130]:
email = nested_dict.get("person", {}).get("contact", {}).get("email", "No email") # default value when the requested key is absent
email

'No email'

**Membership conditional**

In [131]:
if 'age' in user:
    print("Age is present and is ", end = " : ")
    print(user.get('age'))
# membership in dictionaries look for the key

Age is present and is  : 25

In [ ]:
if 'email' in nested_dict.get('person', {}).get('contact', {}):
    print("Contact is present", end = " : ")
    print(nested_dict.get('person', {}).get('contact'))
else:
    print("Contact is not present")

Contact is present : {'email': 'bob@example.com', 'phone': '555-1234'}

**Updating and Modifying Dictionary Values**

In [132]:
user = {"name": "Alice", "age": 25}
user["email"] = "alice@example.com"  # Adds new key-value pair
user

{'name': 'Alice', 'age': 25, 'email': 'alice@example.com'}

In [133]:
# Updates the existing value
user["age"] = 26

In [134]:
user.update({"age": 27, "phone": "555-1234", "city": "New York"})
user

{'name': 'Alice',
 'age': 27,
 'email': 'alice@example.com',
 'phone': '555-1234',
 'city': 'New York'}

In [ ]:
user.keys()

dict_keys(['name', 'age', 'email', 'phone', 'city'])

In [135]:
user.values()

dict_values(['Alice', 27, 'alice@example.com', '555-1234', 'New York'])

## **Sets**


*   A set in Python is an unordered collection of unique elements. Sets are defined using curly braces {} or the set() constructor  

*  They are optimized for membership testing, removing duplicates, and mathematical set operations.


*  **Unordered**: Sets don't maintain element order
*  **Unique Elements**: Duplicates are automatically removed
*  **Mutable**: Standard sets can be modified (unlike frozensets)
*  **Heterogeneous**: Can contain different data types
*  **Non-Indexable**: Cannot access elements by position
*  **Hashable Elements**: Set elements must be immutable

In [ ]:
# Creating a simple set
fruits = {"apple", "banana", "cherry", "orange"}

In [ ]:
# A set with mixed data types
mixed_set = {42, "hello", True, 3.14}

In [ ]:
# An empty set (must use the constructor)
empty_set = set()

In [ ]:
# From literal values
colors = {"red", "green", "blue"}

In [153]:
# From an iterable
numbers = set([1, 2, 3, 4, 5])
numbers.add(1)
numbers

{1, 2, 3, 4, 5}

In [ ]:
# From a string (creates a set of unique characters)
letter_set = set("hello")  # {'h', 'e', 'l', 'o'}
letter_set

{'e', 'h', 'l', 'o'}

In [ ]:
colors.add('magenta')
colors

{'blue', 'green', 'magenta', 'red'}

In [ ]:
# Removing elements
colors.remove("green")  # Raises KeyError if element doesn't exist

In [ ]:
colors.discard("black")  # No error if element doesn't exist

In [ ]:
popped_color = colors.pop()  # Remove and return an arbitrary element
colors.clear()

In [ ]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

In [ ]:
# Union - elements in either set
union_result = set_a | set_b
union_result

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Intersection - elements in both sets
intersection_result = set_a & set_b

In [ ]:
set_a.intersection(set_b)

{4, 5}

In [ ]:
# Difference - elements in first set but not second
difference_result = set_a - set_b

In [ ]:
set_a.difference(set_b)

{1, 2, 3}

In [ ]:
# Symmetric difference - elements in either set but not both
sym_diff_result = set_a ^ set_b
sym_diff_result

{1, 2, 3, 6, 7, 8}

In [ ]:
set_a.symmetric_difference(set_b)

{1, 2, 3, 6, 7, 8}

**Set relationships**

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
set3 = {6, 7, 8}

In [ ]:
# Subset - is set1 contained within set2?
set1.issubset(set2)

True

In [ ]:
is_subset = set1 >= set2
is_subset

False

In [ ]:
# Proper subset - is set1 contained within set2 AND not equal to set2?
is_proper_subset = set1 < set2
is_proper_subset

True

In [ ]:
# Superset - does set2 contain all elements of set1?
is_superset = set2 >= set1
is_superset

True

In [ ]:
set2.issuperset(set1)

True

In [ ]:
# Disjoint - do sets have no elements in common?
are_disjoint = set2.isdisjoint(set3)
are_disjoint

True

### **Assignments to practise**

1. Create a list of 10 integers (your choice).

      Print the first, last, and middle elements.

      Print the list in reverse using slicing.

2. Create a list of marks of 5 students.

      Calculate the average mark.

      Print the marks of students who scored above average.

3. colors = ["red", "green", "blue", "yellow", "black", "white"]

      Print the 2nd and 5th colors.

      Replace "yellow" with "purple".

4. Create a tuple student_info that stores:

      ("Alice", 17, "Physics", 91.5)

      Unpack it into four variables and print them in the format:

      "Name: Alice | Age: 17 | Subject: Physics | Marks: 91.5"

5.  team_a = {"Alice", "Bob", "Charlie"}

    team_b = {"Charlie", "David", "Eve"}

    Find members in both teams.

    Find all unique members.

    Find members unique to team A.

6. Find unique characters in a string

    text = "Mississippi"  
    Hint : Using a set

7.  profile = {
      "user": {
          "name": "Alice",
          "preferences": {
              "theme": "light",
              "notifications": True
          }
      }
}


    update the theme to 'light'