# üèè Cricket ODI Case Study Notebook

## Structure
1. **Introduction & Objectives**
2. **Data Loading & Overview**
3. **Data Cleaning & Wrangling**
4. **Exploratory Data Analysis (EDA)**
5. **ODI Dataset Insights & Visualizations**
6. **Summary of Findings**


we have this link to learn more on Data cleaning 
https://www.kaggle.com/code/rtatman/data-cleaning-challenge-outliers
https://www.kaggle.com/learn/data-cleaning

# Pandas
- fast, powerfull and flexible for data analysis, manipulation over the data, data visualizaton.


### Why pandas?
- used for data clearning,data transformation, vlisauzalizing the data
- repplicate the excel sheet.
- handle different data(stucturesd, unstruct, unorder, unlabled......)

## **Core components of pandas: Series and DataFrames**

> A **Series** is essentially a *column*, and a **DataFrame** is a multi-dimensional table made up of a **collection of Series**.

**1. Series**
  - A Series is a one-dimensional array which is very similar to a NumPy array.
  - What differentiates Series from NumPy arrays is that series can have an access labels with which it can be indexed.


  ![image.png](https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png)

# Series:

In [6]:
# ! pip install pandas

Requirement already satisfied: pandas in /Users/gauravkumar/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/gauravkumar/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/gauravkumar/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/gauravkumar/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/gauravkumar/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/gauravkumar/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [ ]:
import numpy as np
import pandas as pd

In [24]:
l1=[1,2,3,4,5,6,7.7]
label = ['a','b','c','d','e','f','g']

In [25]:
s = pd.Series(l1)

In [26]:
type(s)

pandas.core.series.Series

In [27]:
s.dtype

dtype('float64')

In [28]:
s = pd.Series(data=l1,index=label)
print(s)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    7.7
dtype: float64

In [12]:
# Astype- datatype conversion
s.astype('int64')

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [31]:
l2=[1,2,3,4,5]# int to float
label = ['a','b','c','d','e']
s1=pd.Series(data= l2,index=label, dtype='object')
s1

a    1
b    2
c    3
d    4
e    5
dtype: object

## 2. DataFrame

In [32]:

data  = {'apple':[1,2,3,4],'Oranges':[1,2,3,4],'Pineapples':[10,20,30,20]}

df = pd.DataFrame(data)
df

   apple  Oranges  Pineapples
0      1        1          10
1      2        2          20
2      3        3          30
3      4        4          20

In [33]:
df['Oranges'] # access columnns in dataframe

0    1
1    2
2    3
3    4
Name: Oranges, dtype: int64

In [35]:
df[['Oranges','Pineapples']]# need to provide the list of coloumns which we are accessing

   Oranges  Pineapples
0        1          10
1        2          20
2        3          30
3        4          20

In [37]:
#iloc and Loc concepts
df.iloc[3]

apple          4
Oranges        4
Pineapples    20
Name: 3, dtype: int64

# iloc and loc

 In **pandas**, both `.loc` and `.iloc` are **indexers** used to access rows and columns of a DataFrame ‚Äî but they differ in *how* they select data.

Let‚Äôs break it down clearly üëá

---

## üîπ `loc` ‚Äî *Label-based indexing*

* You use **labels** (names) of rows and columns.
* The **end index is inclusive**.
* Works with **boolean arrays** and **conditional selection** too.

### ‚úÖ Examples

```python
import pandas as pd

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["NY", "LA", "Chicago"]
}, index=["a", "b", "c"])
```

```python
# Access by label
df.loc["a"]           # Row with index label 'a'
df.loc["a", "Age"]    # Specific value

# Multiple labels
df.loc[["a", "c"], ["Name", "City"]]

# Slice by label (inclusive)
df.loc["a":"b"]

# Conditional selection
df.loc[df["Age"] > 25]
```

---

## üîπ `iloc` ‚Äî *Integer position-based indexing*

* You use **integer positions** (like you would with NumPy arrays).
* The **end index is exclusive**, like standard Python slicing.
* Does *not* care about row or column labels.

### ‚úÖ Examples

```python
# Access by position
df.iloc[0]           # First row
df.iloc[0, 1]        # First row, second column

# Multiple rows/columns
df.iloc[[0, 2], [0, 2]]

# Slice by position (end is exclusive)
df.iloc[0:2, 1:3]
```

---

## üîç Summary Table

| Feature               | `.loc`               | `.iloc`                                   |
| --------------------- | -------------------- | ----------------------------------------- |
| Selection type        | Label-based          | Integer position-based                    |
| Slice behavior        | Inclusive end        | Exclusive end                             |
| Accepts booleans      | ‚úÖ Yes                | ‚úÖ Yes                                     |
| Works with conditions | ‚úÖ Yes                | ‚ö†Ô∏è Only if boolean mask matches positions |
| Example               | `df.loc["a", "Age"]` | `df.iloc[0, 1]`                           |

---

Would you like me to show a **side-by-side visual example** comparing `.loc` and `.iloc` on the same DataFrame?

In [38]:
# Read the file from system
import pandas as pd
df = pd.read_csv('loan.csv')
df

,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [44]:
# Read chipotle.csv from github
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')
chipo

#pd.read_csv() is a pandas function that reads data from a CSV (Comma-Separated Values) file and returns a DataFrame ‚Äî a two-dimensional table (rows and columns) similar to an Excel sheet or SQL table.

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [43]:
chipo.to_csv("chipoltle.csv")

In [40]:
d = {
    'product_cat': ['X', 'Y','X', 'Y', 'Z', 'Y','X'],
    'sales_Qty': [42,23,64,13,30,30,54],
    'sale_date'
    : ['2022/January/15', '2022/January/15', '2022/January/12', '2022/January/20', '2022/February/05', '2022/February/06','2022/march/12'],
    'audit_date': ['2022/March/31', '2022/March/31', '2022/March/31', '2022/March/31', '2022/March/31', '2022/March/31','2022/March/31'],
    'revenue': [1000,12000,8000,4000,18000,1000,19000]
}

In [46]:
df = pd.DataFrame(d)
df

  product_cat  sales_Qty         sale_date     audit_date  revenue
0           X         42   2022/January/15  2022/March/31     1000
1           Y         23   2022/January/15  2022/March/31    12000
2           X         64   2022/January/12  2022/March/31     8000
3           Y         13   2022/January/20  2022/March/31     4000
4           Z         30  2022/February/05  2022/March/31    18000
5           Y         30  2022/February/06  2022/March/31     1000
6           X         54     2022/march/12  2022/March/31    19000

In [48]:
df.sale_date = pd.to_datetime(df.sale_date)
df

  product_cat  sales_Qty  sale_date     audit_date  revenue
0           X         42 2022-01-15  2022/March/31     1000
1           Y         23 2022-01-15  2022/March/31    12000
2           X         64 2022-01-12  2022/March/31     8000
3           Y         13 2022-01-20  2022/March/31     4000
4           Z         30 2022-02-05  2022/March/31    18000
5           Y         30 2022-02-06  2022/March/31     1000
6           X         54 2022-03-12  2022/March/31    19000

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_cat  7 non-null      object
 1   sales_Qty    7 non-null      int64
 2   sale_date    7 non-null      object
 3   audit_date   7 non-null      object
 4   revenue      7 non-null      int64
dtypes: int64(2), object(3)
memory usage: 412.0+ bytes

## Type Casting:
1.`.to_datetime()` converts object to datetime

In [ ]:
df

  product_cat  sales_Qty         sale_date     audit_date  revenue
0           X         42   2022/January/15  2022/March/31     1000
1           Y         23   2022/January/15  2022/March/31    12000
2           X         64   2022/January/12  2022/March/31     8000
3           Y         13   2022/January/20  2022/March/31     4000
4           Z         30  2022/February/05  2022/March/31    18000
5           Y         30  2022/February/06  2022/March/31     1000
6           X         54     2022/march/12  2022/March/31    19000

In [ ]:
df.sale_date=pd.to_datetime(df.sale_date)
df['audit_date'] = pd.to_datetime(df['audit_date'])

In [ ]:
df.sale_date

0   2022-01-15
1   2022-01-15
2   2022-01-12
3   2022-01-20
4   2022-02-05
5   2022-02-06
6   2022-03-12
Name: sale_date, dtype: datetime64[ns]

## Subsetting

In [ ]:
col1 = ['sale_date','product_cat']
df[col1]

   sale_date product_cat
0 2022-01-15           X
1 2022-01-15           Y
2 2022-01-12           X
3 2022-01-20           Y
4 2022-02-05           Z
5 2022-02-06           Y
6 2022-03-12           X

In [ ]:
df[['sale_date','product_cat']]

   sale_date product_cat
0 2022-01-15           X
1 2022-01-15           Y
2 2022-01-12           X
3 2022-01-20           Y
4 2022-02-05           Z
5 2022-02-06           Y
6 2022-03-12           X

In [ ]:
df

  product_cat  sales_Qty  sale_date audit_date  revenue
0           X         42 2022-01-15 2022-03-31     1000
1           Y         23 2022-01-15 2022-03-31    12000
2           X         64 2022-01-12 2022-03-31     8000
3           Y         13 2022-01-20 2022-03-31     4000
4           Z         30 2022-02-05 2022-03-31    18000
5           Y         30 2022-02-06 2022-03-31     1000
6           X         54 2022-03-12 2022-03-31    19000

In [49]:
df['sale_day']=df['sale_date'].dt.day
df

  product_cat  sales_Qty  sale_date     audit_date  revenue  sale_day
0           X         42 2022-01-15  2022/March/31     1000        15
1           Y         23 2022-01-15  2022/March/31    12000        15
2           X         64 2022-01-12  2022/March/31     8000        12
3           Y         13 2022-01-20  2022/March/31     4000        20
4           Z         30 2022-02-05  2022/March/31    18000         5
5           Y         30 2022-02-06  2022/March/31     1000         6
6           X         54 2022-03-12  2022/March/31    19000        12

In [50]:
df['sale_year']=df['sale_date'].dt.year
df

,product_cat,sales_Qty,sale_date,audit_date,revenue,sale_day,sale_year
0,X,42,2022-01-15,2022/March/31,1000,15,2022
1,Y,23,2022-01-15,2022/March/31,12000,15,2022
2,X,64,2022-01-12,2022/March/31,8000,12,2022
3,Y,13,2022-01-20,2022/March/31,4000,20,2022
4,Z,30,2022-02-05,2022/March/31,18000,5,2022
5,Y,30,2022-02-06,2022/March/31,1000,6,2022
6,X,54,2022-03-12,2022/March/31,19000,12,2022

In [51]:
df['sale_month']=df['sale_date'].dt.month
df

,product_cat,sales_Qty,sale_date,audit_date,revenue,sale_day,sale_year,sale_month
0,X,42,2022-01-15,2022/March/31,1000,15,2022,1
1,Y,23,2022-01-15,2022/March/31,12000,15,2022,1
2,X,64,2022-01-12,2022/March/31,8000,12,2022,1
3,Y,13,2022-01-20,2022/March/31,4000,20,2022,1
4,Z,30,2022-02-05,2022/March/31,18000,5,2022,2
5,Y,30,2022-02-06,2022/March/31,1000,6,2022,2
6,X,54,2022-03-12,2022/March/31,19000,12,2022,3

2022-01-15 -. 'yyyy-mm-dd'

In [52]:
df['sale_day_name']=df['sale_date'].dt.day_name()
df

,product_cat,sales_Qty,sale_date,audit_date,revenue,sale_day,sale_year,sale_month,sale_day_name
0,X,42,2022-01-15,2022/March/31,1000,15,2022,1,Saturday
1,Y,23,2022-01-15,2022/March/31,12000,15,2022,1,Saturday
2,X,64,2022-01-12,2022/March/31,8000,12,2022,1,Wednesday
3,Y,13,2022-01-20,2022/March/31,4000,20,2022,1,Thursday
4,Z,30,2022-02-05,2022/March/31,18000,5,2022,2,Saturday
5,Y,30,2022-02-06,2022/March/31,1000,6,2022,2,Sunday
6,X,54,2022-03-12,2022/March/31,19000,12,2022,3,Saturday

## Filtering:

In [54]:
df[(df.sale_day_name == "Saturday")]

,product_cat,sales_Qty,sale_date,audit_date,revenue,sale_day,sale_year,sale_month,sale_day_name
0,X,42,2022-01-15,2022/March/31,1000,15,2022,1,Saturday
1,Y,23,2022-01-15,2022/March/31,12000,15,2022,1,Saturday
4,Z,30,2022-02-05,2022/March/31,18000,5,2022,2,Saturday
6,X,54,2022-03-12,2022/March/31,19000,12,2022,3,Saturday

In [56]:
#Retrieve all Y and Z category products obtain the sale date
df[(df.product_cat=='Y')|(df.product_cat=='Z')]['revenue']

1    12000
3     4000
4    18000
5     1000
Name: revenue, dtype: int64

In [64]:
df[(df.product_cat=='Y') | (df.product_cat=='Z')].sort_values(by= 'revenue')['revenue']

5     1000
3     4000
1    12000
4    18000
Name: revenue, dtype: int64

In [ ]:
# Retrieve the product category and revenue which has been done after 15th of the month
df[(df.sale_day>15)][['product_cat','revenue']]

  product_cat  revenue
3           Y     4000

## Sorting

In [ ]:
df

,product_cat,sales_Qty,sale_date,audit_date,revenue,sale_day,sale_year,sale_month,sale_day_name,weekend,weekend_name,x,Delta,diff_days
0,X,42,2022-01-15,2022-03-31,1000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0
1,Y,23,2022-01-15,2022-03-31,12000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0
2,X,64,2022-01-12,2022-03-31,8000,12,2022,1,Wednesday,False,weekday,weekday,78 days,78.0
3,Y,13,2022-01-20,2022-03-31,4000,20,2022,1,Thursday,False,weekday,weekday,70 days,70.0
4,Z,30,2022-02-05,2022-03-31,18000,5,2022,2,Saturday,True,weekend,weekend,54 days,54.0
5,Y,30,2022-02-06,2022-03-31,1000,6,2022,2,Sunday,True,weekend,weekend,53 days,53.0
6,X,54,2022-03-12,2022-03-31,19000,12,2022,3,Saturday,True,weekend,weekend,19 days,19.0

In [ ]:
df.sort_values(by='revenue',ascending=True)

,product_cat,sales_Qty,sale_date,audit_date,revenue,sale_day,sale_year,sale_month,sale_day_name,weekend,weekend_name,x,Delta,diff_days
0,X,42,2022-01-15,2022-03-31,1000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0
5,Y,30,2022-02-06,2022-03-31,1000,6,2022,2,Sunday,True,weekend,weekend,53 days,53.0
3,Y,13,2022-01-20,2022-03-31,4000,20,2022,1,Thursday,False,weekday,weekday,70 days,70.0
2,X,64,2022-01-12,2022-03-31,8000,12,2022,1,Wednesday,False,weekday,weekday,78 days,78.0
1,Y,23,2022-01-15,2022-03-31,12000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0
4,Z,30,2022-02-05,2022-03-31,18000,5,2022,2,Saturday,True,weekend,weekend,54 days,54.0
6,X,54,2022-03-12,2022-03-31,19000,12,2022,3,Saturday,True,weekend,weekend,19 days,19.0

In [ ]:
df.sort_values(by='revenue',ascending=False)

,product_cat,sales_Qty,sale_date,audit_date,revenue,sale_day,sale_year,sale_month,sale_day_name,weekend,weekend_name,x,Delta,diff_days
6,X,54,2022-03-12,2022-03-31,19000,12,2022,3,Saturday,True,weekend,weekend,19 days,19.0
4,Z,30,2022-02-05,2022-03-31,18000,5,2022,2,Saturday,True,weekend,weekend,54 days,54.0
1,Y,23,2022-01-15,2022-03-31,12000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0
2,X,64,2022-01-12,2022-03-31,8000,12,2022,1,Wednesday,False,weekday,weekday,78 days,78.0
3,Y,13,2022-01-20,2022-03-31,4000,20,2022,1,Thursday,False,weekday,weekday,70 days,70.0
0,X,42,2022-01-15,2022-03-31,1000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0
5,Y,30,2022-02-06,2022-03-31,1000,6,2022,2,Sunday,True,weekend,weekend,53 days,53.0

In [ ]:
df[df.product_cat=='X'].sort_values(by='revenue',ascending=False)

,product_cat,sales_Qty,sale_date,audit_date,revenue,sale_day,sale_year,sale_month,sale_day_name,weekend,weekend_name,x,Delta,diff_days
6,X,54,2022-03-12,2022-03-31,19000,12,2022,3,Saturday,True,weekend,weekend,19 days,19.0
2,X,64,2022-01-12,2022-03-31,8000,12,2022,1,Wednesday,False,weekday,weekday,78 days,78.0
0,X,42,2022-01-15,2022-03-31,1000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0

In [ ]:
df.sort_values(by=['revenue','sale_day'],ascending=[True,False])

,product_cat,sales_Qty,sale_date,audit_date,revenue,sale_day,sale_year,sale_month,sale_day_name,weekend,weekend_name,x,Delta,diff_days
0,X,42,2022-01-15,2022-03-31,1000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0
5,Y,30,2022-02-06,2022-03-31,1000,6,2022,2,Sunday,True,weekend,weekend,53 days,53.0
3,Y,13,2022-01-20,2022-03-31,4000,20,2022,1,Thursday,False,weekday,weekday,70 days,70.0
2,X,64,2022-01-12,2022-03-31,8000,12,2022,1,Wednesday,False,weekday,weekday,78 days,78.0
1,Y,23,2022-01-15,2022-03-31,12000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0
4,Z,30,2022-02-05,2022-03-31,18000,5,2022,2,Saturday,True,weekend,weekend,54 days,54.0
6,X,54,2022-03-12,2022-03-31,19000,12,2022,3,Saturday,True,weekend,weekend,19 days,19.0

In [ ]:
df.sort_values(by=['revenue','sale_day'])

,product_cat,sales_Qty,sale_date,audit_date,revenue,sale_day,sale_year,sale_month,sale_day_name,weekend,weekend_name,x,Delta,diff_days
5,Y,30,2022-02-06,2022-03-31,1000,6,2022,2,Sunday,True,weekend,weekend,53 days,53.0
0,X,42,2022-01-15,2022-03-31,1000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0
3,Y,13,2022-01-20,2022-03-31,4000,20,2022,1,Thursday,False,weekday,weekday,70 days,70.0
2,X,64,2022-01-12,2022-03-31,8000,12,2022,1,Wednesday,False,weekday,weekday,78 days,78.0
1,Y,23,2022-01-15,2022-03-31,12000,15,2022,1,Saturday,True,weekend,weekend,75 days,75.0
4,Z,30,2022-02-05,2022-03-31,18000,5,2022,2,Saturday,True,weekend,weekend,54 days,54.0
6,X,54,2022-03-12,2022-03-31,19000,12,2022,3,Saturday,True,weekend,weekend,19 days,19.0

In [68]:
df.product_cat.

0    X
1    Y
2    X
3    Y
4    Z
5    Y
6    X
Name: product_cat, dtype: object

## Groupby

identifying a prb statement to appley groupby
reqyuirement:
1. cat column
2. aggregation(sum,max,min) based on column

## Sum of revenue by prd_cat

In [ ]:
df.groupby(['product_cat'])['revenue'].sum()

product_cat
X    28000
Y    17000
Z    18000
Name: revenue, dtype: int64

In [ ]:
#max of diff_days and sum of revenue by prd_cat
df.groupby(['product_cat']).agg({"revenue":'sum','diff_days':'max'}).rename(columns={'revenue':'sum_revenue'})

             sum_revenue  diff_days
product_cat
X                  28000       78.0
Y                  17000       75.0
Z                  18000       54.0

--------------

---
## üèè ODI Dataset Analysis

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [71]:
# loading of data
odi = pd.read_csv('ODI_Analytics.csv')
odi.head(10)

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008
2,Afghanistan,Mohammad Shahzad,100.0,138.88,8-16-2010,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164
3,Afghanistan,Mohammad Shahzad,82.0,75.92,7-10-2010,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153
4,Afghanistan,Mohammad Shahzad,57.0,100.00,7-1-2010,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135
5,Afghanistan,Mohammad Shahzad,55.0,87.30,7-7-2010,Sportpark Westvliet,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3147
6,Afghanistan,Mohammad Shahzad,37.0,80.43,10-9-2010,Gymkhana Club Ground,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=3185
7,Afghanistan,Mohammad Shahzad,34.0,77.27,7-9-2010,Hazelaarweg,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3149
8,Afghanistan,Mohammad Shahzad,20.0,90.90,7-5-2010,VRA Ground,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=3142
9,Afghanistan,Mohammad Shahzad,16.0,57.14,8-30-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3007

In [73]:
# Data summary
odi.shape

(55926, 8)

In [74]:
odi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55926 entries, 0 to 55925
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    55926 non-null  object
 1   Player     55926 non-null  object
 2   Runs       55898 non-null  float64
 3   ScoreRate  55896 non-null  float64
 4   MatchDate  55926 non-null  object
 5   Ground     55926 non-null  object
 6   Versus     55926 non-null  object
 7   URL        55926 non-null  object
dtypes: float64(2), object(6)
memory usage: 3.4+ MB

In [ ]:
# Stats summary
odi.describe()

               Runs     ScoreRate
count  55898.000000  55896.000000
mean      22.242155     65.318882
std       25.558519     44.211552
min        0.000000      0.000000
25%        4.000000     37.500000
50%       13.000000     62.680000
75%       32.000000     87.500000
max      200.000000    600.000000

In [75]:
# Stat summary for all columns(num,vat)
odi.describe(include='all')

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
count,55926,55926,55898.000000,55896.000000,55926,55926,55926,55926
unique,22,1936,NaN,NaN,2757,178,25,3209
top,India,Sachin R Tendulkar,NaN,NaN,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1708
freq,6634,442,NaN,NaN,108,3581,7216,22
mean,NaN,NaN,22.242155,65.318882,NaN,NaN,NaN,NaN
std,NaN,NaN,25.558519,44.211552,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,37.500000,NaN,NaN,NaN,NaN
50%,NaN,NaN,13.000000,62.680000,NaN,NaN,NaN,NaN
75%,NaN,NaN,32.000000,87.500000,NaN,NaN,NaN,NaN
max,NaN,NaN,200.000000,600.000000,NaN,NaN,NaN,NaN

In [76]:
# missing values in data
odi.isnull().sum()

Country       0
Player        0
Runs         28
ScoreRate    30
MatchDate     0
Ground        0
Versus        0
URL           0
dtype: int64

In [ ]:
odi.nunique()

Country        22
Player       1936
Runs          180
ScoreRate    4196
MatchDate    2757
Ground        178
Versus         25
URL          3209
dtype: int64

In [ ]:
# Handling missing values
odi['Runs'].fillna(odi['Runs'].median(), inplace=True)
odi.isnull().sum()

Country       0
Player        0
Runs          0
ScoreRate    30
MatchDate     0
Ground        0
Versus        0
URL           0
dtype: int64

In [ ]:
odi

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008
2,Afghanistan,Mohammad Shahzad,100.0,138.88,8-16-2010,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164
3,Afghanistan,Mohammad Shahzad,82.0,75.92,7-10-2010,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153
4,Afghanistan,Mohammad Shahzad,57.0,100.00,7-1-2010,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135
...,...,...,...,...,...,...,...,...
55921,Zimbabwe,Waddington Mwayenga,0.0,0.00,5-27-2004,Harare Sports Club,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2226
55922,Zimbabwe,Tafadzwa Kamungozi,0.0,0.00,10-10-2006,Sardar Patel Stadium,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2529
55923,Zimbabwe,Tafadzwa Kamungozi,0.0,0.00,10-8-2006,Sardar Patel Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=2528
55924,Zimbabwe,Tafadzwa Kamungozi,0.0,0.00,10-13-2006,Sawai Mansingh Stadium,Bangladesh,../Matches/MatchScorecard_ODI.asp?MatchCode=2531
55925,Zimbabwe,Njabulo Ncube,0.0,0.00,10-25-2011,Queens Sports Club,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=3345

In [ ]:
odi['Runs']

0        118.0
1        110.0
2        100.0
3         82.0
4         57.0
         ...
55921      0.0
55922      0.0
55923      0.0
55924      0.0
55925      0.0
Name: Runs, Length: 55926, dtype: float64

## Why 'Median' instead of 'mean()'?
- if outlier is present in colum, using mean can be bias the replacement

In [ ]:
odi['ScoreRate'].fillna(odi['ScoreRate'].median(), inplace=True)
print(odi.isnull().sum())

Country      0
Player       0
Runs         0
ScoreRate    0
MatchDate    0
Ground       0
Versus       0
URL          0
dtype: int64

In [ ]:
odi.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
55921    False
55922    False
55923    False
55924    False
55925    False
Length: 55926, dtype: bool

In [ ]:
duplicate_odi = odi.duplicated().sum()
duplicate_odi

0

In [ ]:
# odi.drop_duplicates()

# Feature engineering
1. Convert matchdate to datetime
    1. extract day,month, year,weekend,qauter
2. Categorization

In [ ]:
odi['MatchDate'] = pd.to_datetime(odi['MatchDate'])
odi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55926 entries, 0 to 55925
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    55926 non-null  object
 1   Player     55926 non-null  object
 2   Runs       55926 non-null  float64
 3   ScoreRate  55926 non-null  float64
 4   MatchDate  55926 non-null  datetime64[ns]
 5   Ground     55926 non-null  object
 6   Versus     55926 non-null  object
 7   URL        55926 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 3.4+ MB

In [ ]:
odi["year"] = odi["MatchDate"].dt.year
odi["month"] = odi["MatchDate"].dt.month
odi["day"] = odi["MatchDate"].dt.day
odi["quarter"] = odi["MatchDate"].dt.quarter
odi["Weekend"] = odi["MatchDate"].dt.day_name().isin(['Saturday', 'Sunday'])

odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL,year,month,day,quarter,Weekend
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2010-02-16,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087,2010,2,16,1,False
1,Afghanistan,Mohammad Shahzad,110.0,99.09,2009-09-01,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008,2009,9,1,3,False
2,Afghanistan,Mohammad Shahzad,100.0,138.88,2010-08-16,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164,2010,8,16,3,False
3,Afghanistan,Mohammad Shahzad,82.0,75.92,2010-07-10,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153,2010,7,10,3,True
4,Afghanistan,Mohammad Shahzad,57.0,100.00,2010-07-01,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135,2010,7,1,3,False

# Categorizing the player runs under caentury, fifty, duckouts, nervou90

1. Century : runs >=100
2. fifty : 50 <= and <100
3. Duckout : =0
4. nervous90 : 90 <= and <100

In [ ]:
# .apply() - used whenever yo have function(udf/lambda) to apply over column
odi['Century'] = odi['Runs'].apply(lambda x: 1 if x >= 100 else 0)

odi['Fifty'] = odi['Runs'].apply(lambda x: 1 if 50 <= x < 100 else 0)

odi['Duckouts'] = odi['Runs'].apply(lambda x: 1 if x == 0 else 0)

odi['Nervous90s'] = odi['Runs'].apply(lambda x: 1 if 90 <= x < 100 else 0)

odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL,year,month,day,quarter,Weekend,Century,Fifty,Duckouts,Nervous90s
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2010-02-16,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087,2010,2,16,1,False,1,0,0,0
1,Afghanistan,Mohammad Shahzad,110.0,99.09,2009-09-01,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008,2009,9,1,3,False,1,0,0,0
2,Afghanistan,Mohammad Shahzad,100.0,138.88,2010-08-16,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164,2010,8,16,3,False,1,0,0,0
3,Afghanistan,Mohammad Shahzad,82.0,75.92,2010-07-10,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153,2010,7,10,3,True,0,1,0,0
4,Afghanistan,Mohammad Shahzad,57.0,100.00,2010-07-01,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135,2010,7,1,3,False,0,1,0,0

# 3. Replace default labes of years to decade category '1970 - 2020'
[1970-1979]
1980-1989
1990-1999
-----2020

In [ ]:
odi['year_bin'] = np.digitize(odi['year'],bins=[1979,1989,1999,2009,2019])
odi['year_bin'].unique()

array([4, 3, 2, 1, 0])

bin1-1970s(years bttw 1970-1979)
bin2-1980s(year btw 1980-1989)

In [ ]:
odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL,year,month,day,quarter,Weekend,Century,Fifty,Duckouts,Nervous90s,year_bin
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2010-02-16,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087,2010,2,16,1,False,1,0,0,0,4
1,Afghanistan,Mohammad Shahzad,110.0,99.09,2009-09-01,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008,2009,9,1,3,False,1,0,0,0,4
2,Afghanistan,Mohammad Shahzad,100.0,138.88,2010-08-16,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164,2010,8,16,3,False,1,0,0,0,4
3,Afghanistan,Mohammad Shahzad,82.0,75.92,2010-07-10,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153,2010,7,10,3,True,0,1,0,0,4
4,Afghanistan,Mohammad Shahzad,57.0,100.00,2010-07-01,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135,2010,7,1,3,False,0,1,0,0,4

# International-player- analysis
- Top 5 in centrueies, fifties,dickouts...
# Indian Player
- Top 5 in centuries,,,,,

# Top 5 international palyer centuries, fifties,dickouts and nervous90s
1. groupby - player
2. groupby aggreateion - century.sum
3. sort
4. head(5)

In [ ]:
top_cent = odi.groupby('Player')['Century'].sum().sort_values(ascending=False).head(5)
top_cent

Player
Sachin R Tendulkar     48
Ricky T Ponting        30
Sanath T Jayasuriya    28
Sourav C Ganguly       22
Herschelle H Gibbs     21
Name: Century, dtype: int64

In [ ]:
top_fifty = odi.groupby('Player')['Fifty'].sum().sort_values(ascending=False).head(5)
top_fifty

Player
Sachin R Tendulkar    95
Jacques H Kallis      84
Rahul Dravid          83
Inzamam-ul-Haq        83
Ricky T Ponting       82
Name: Fifty, dtype: int64

In [ ]:
top_duc = odi.groupby('Player')['Duckouts'].sum().sort_values(ascending=False).head(5)
top_duc

Player
Muttiah Muralitharan     41
Sanath T Jayasuriya      34
Wasim Akram              32
Glenn D McGrath          32
W P U J Chaminda Vaas    30
Name: Duckouts, dtype: int64

In [ ]:
top_ner = odi.groupby('Player')['Nervous90s'].sum().sort_values(ascending=False).head(5)
top_ner

Player
Sachin R Tendulkar        18
Pinnaduwage A de Silva     9
Grant W Flower             9
Nathan J Astle             9
Jacques H Kallis           8
Name: Nervous90s, dtype: int64

## year wise player performance for india from year 2001-2011

In [ ]:
# Season wise player performance analysis(2001-2011) for indian players
odi_india_year = odi[(odi.year >= 2001) & (odi.year<=2011) & (odi.Country=='India')]
odi_india_year.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL,year,month,day,quarter,Weekend,Century,Fifty,Duckouts,Nervous90s,year_bin
15150,India,Sachin R Tendulkar,200.0,136.05,2010-02-24,Captain Roop Singh Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=3092,2010,2,24,1,False,1,0,0,0,4
15152,India,Sachin R Tendulkar,175.0,124.11,2009-11-05,Rajiv Gandhi International Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=3050,2009,11,5,4,False,1,0,0,0,4
15153,India,Sachin R Tendulkar,163.0,122.55,2009-03-08,AMI Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2945,2009,3,8,1,True,1,0,0,0,4
15154,India,Sachin R Tendulkar,152.0,100.66,2003-02-23,City Oval,Namibia,../Matches/MatchScorecard_ODI.asp?MatchCode=2052,2003,2,23,1,True,1,0,0,0,3
15156,India,Sachin R Tendulkar,146.0,110.60,2001-10-24,Boland Bank Park,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1849,2001,10,24,4,False,1,0,0,0,3

In [ ]:

indian_pivot = odi_india_year.pivot_table(index='Player',values='Runs',columns='year',aggfunc='sum',fill_value=0,margins=True)
indan_year=indian_pivot.sort_values(by='All',ascending=False).head(10)
india_year

year,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,All
Player,,,,,,,,,,,,
All,5005,7557,5647,6937,6471,5891,8633,6587,6808,6063,6667,72266.0
Sachin R Tendulkar,904,741,1141,812,412,628,1425,460,972,204,513,8212.0
Yuvraj Singh,238,659,600,841,839,849,1287,893,783,349,453,7791.0
Virender Sehwag,439,1130,871,671,1017,608,475,893,810,446,380,7740.0
Mahendra S Dhoni,0,0,0,19,895,821,1103,1097,1198,600,764,6497.0
Rahul Dravid,740,913,623,1025,1092,919,823,0,180,0,124,6439.0
Sourav C Ganguly,813,1114,756,947,209,0,1240,0,0,0,0,5079.0
Gautam Gambhir,0,0,113,0,181,115,634,1119,848,670,606,4286.0
Suresh K Raina,0,0,0,0,89,500,23,680,605,631,644,3172.0
Mohammad Kaif,0,692,478,564,697,322,0,0,0,0,0,2753.0

In [ ]:
# year wise total overall performance of indian player from  2001-2011

odi_india_year = odi[(odi.year >= 2001) & (odi.year<=2011) & (odi.Country=='India')]
odi_india_year.head()

indian_per = odi_india_year.groupby('Player')[['Century','Fifty','Duckouts','Nervous90s']].sum().sort_values(by='Century',ascending=False).head(5)